#bigsheet button[type=submit]:disabled {
    background-color: gray;
    color: white;
    cursor: wait;
}

#bigsheet>div{
    position: relative;
    margin-top: 2em;
}
#bigsheet #saved-rows {
    width: 100%;
    position: relative;
    overflow-x: scroll;
    display: block;
}
